body {
  background-color: #7FDBFF;
}

* {
  font-family: Impact, Charcoal, sans-serif;
}

ul.button {
  margin: 0em;
  padding: 0em;
}

.button li {
  display: inline-block;
  list-style-type: none;
  width: 10em;
  margin: 1em 0em 1em 0em;
  cursor: pointer;
  border-style: solid;
  border-width: 0.01em;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
}

.button li:hover {
  background-color: #DDDDDD;
}
