body {
  background-color: #7FDBFF;
}

* {
  font-family: Impact, Charcoal, sans-serif;
}

ul.button-list, ul.button-important-list {
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  list-style-type: none;
  width: 10em;
  margin: 1em 0 1em 0;
  font-size: 1em;
  cursor: pointer;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
}

.button:hover {
  background-color: #DDDDDD;
}

.button-important {
  margin: auto;
  display: block;
  font-size: 1.2em;
  border-width: 0.12em;
  list-style-type: none;
  width: 10em;
  cursor: pointer;
  border-style: solid;
  border-radius: 0.5em;
  background-color: white;
  text-align: center;
}

.button-important:hover {
  background-color: #DDDDDD;
}
