*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse/Maven stuff
/target/
.project
.settings/
.classpath

# AngularJS 2 stuff
node_modules/
typings/
angularjs_2_front_end/app/*.js
angularjs_2_front_end/app/*.js.map
