h3 {
  margin: 1em 0 0 0;
}

#score {
  text-align: center;
}

#left-panel {
  height: 350px;
  width: 570px;
  float: left;
}

.answer-text {
  margin-bottom: 0.5em;
}

.answer-correct {
  color: #009933;
}

.answer-incorrect {
  color: #FF4136;
}

#next-question-button.button-important {
  margin-bottom: 0.5em;
}

#chord-tester-piano {
  pointer-events: none;
  height: 250px;
}

#right-panel {
  float: left;
}

#chord-roots {
  float: left;
  margin-left: 1.2em;
  width: 11.3em;
}

#chord-qualities {
  float: left;
  margin-left: 1.2em;
  max-width: 21.4em;
}

#chord-inversions {
  float: left;
  margin-left: 1.2em;
  max-width: 11.5em;
}

ul.button-list {
  margin: 0;
}

.button.chord-root {
  margin-right: 0.5em;
  width: 5em;
}

.button.chord-quality {
  margin-right: 0.5em;
}

.button.chord-inversion {
  margin-right: 0.5em;
}
