h3 {
  margin: 0.5em 0 0 0;
}

#score {
  text-align: center;
}

ul.button-list {
  margin-bottom: 0.5em;
}

.button.chord-root {
  margin-right: 0.5em;
  width: 5em;
}

.button.chord-quality {
  margin-right: 0.5em;
}

.button.chord-inversion {
  margin-right: 0.5em;
}
