#instructions {
  text-align: center;
}

#chord-qualities-header {
  text-align: center;
  margin: 0em;
}

#chord-inversions-header {
  text-align: center;
  margin: 0em;
}

ul.button.chord-characteristic {
  width: 50%;
  margin: 1em auto 2em auto;
}

.button.chord-characteristic li {
  margin: 0.5em;
}
