<div class="characteristics">
  <h2>Chord Qualities</h2>
  <ul>
    <li *ngFor="let quality of allChordCharacteristics.chordQualities" (click)="onChordQualitySelected(quality)">{{quality}}</li>
  </ul>
  <h2>Chord Inversions</h2>
  <ul>
    <li *ngFor="let inversion of allChordCharacteristics.chordInversions" (click)="onChordInversionSelected(inversion)">{{inversion}}</li>
  </ul>
</div>
<div>
  <h4>If no chord characteristics are selected, then the trainer will choose from all characteristics</h4>
  <button id="startTrainerButton" (click)="onStartTrainerButtonSelected()">Start Trainer</button>
</div>
