#instructions {
  text-align: center;
}

#chord-qualities-header {
  text-align: center;
  margin: 0;
}

#chord-inversions-header {
  text-align: center;
  margin: 0;
}

ul.button-list {
  width: 50%;
  margin: 1em auto 2em auto;
}

.button.chord-characteristic {
  margin: 0.5em;
}
